<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends "base.html" %}

{% block title %}blog title{% endblock %}

{% block content %}
<div class="row text-center ">
    <h1>我的博客</h1>
</div>

<div class="row">
    <div class="col-xs-12 col-md-8">
        <ul>
            {% for blog in blogs %}
            <li><a href="{{ blog.id }}">{{ blog.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-xs-6 col-md-4">
        <h2>欢迎来到NHK</h2>
    </div>
</div>
{% endblock %}

</body>
</html>